{% extends "layout.html" %}

{% block title %}Add Exam{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/addAssessment.css">
{% endblock %}

{% block content %}
<div class="formContainer">
    <form id="addAssessmentForm" action="/addAssessment" method="POST">
        <div class="formTitle">
            <h2>Add Exam</h2>
        </div>
        <div class="formSection1">
            <div class="formInputContainer">
                <label for="myCourses">My Courses</label>
                <select id="dropdownCourses" name="course">
                    {% for course in courses %}
                    <option value="{{course.course_code}}">{{course.course_code}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formInputContainer">
                <label for="startDate">Date</label>
                <input type="date" id="startDate" name="startDate">
            </div>
        </div>
        <div class=" bottomForm">
            <div class="formSection2">
                <div class="formInputContainer">
                    <label for="startTime">Start Time</label>
                    <input type="time" id="startTime" name="startTime">
                </div>
                <div class="formInputContainer">
                    <label for="endTime">End Time</label>
                    <input type="time" id="endTime" name="endTime">
                </div>
            </div>

            <div class="formSection3">
                <div class="formInputGroup">
                    <label for="rule1Toggle">Weekly Limit</label>
                    <label class="switch">
                        <input type="checkbox" id="rule1Toggle" name="rule1" checked>
                        <span class="slider"></span>
                    </label>
                </div>

                <div class="formInputGroup">
                    <label for="rule2Toggle">Daily Limit ㅤ</label>
                    <label class="switch">
                        <input type="checkbox" id="rule2Toggle" name="rule2" checked>
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

        </div>
        <button id="addAssessmentBtn" type="submit">Save</button>
    </form>
</div>
{% endblock %}