{% extends "adminLayout.html" %}

{% block title %}Add Course{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/addCourse.css">
{% endblock %}

{% block content %}
<div class="formContainer">
    <form action="/addNewCourse" id="addCourseForm" method="POST">
        <h2>Add Course</h2>
        <div class="formInputContainer normalLabel">
            <label class="mainLabel" for="">Course Code</label>
            <input type="text" name="course_code" id="course_code" required>
        </div>

        <div class="formInputContainer normalLabel">
            <label class="mainLabel" for="">Title</label>
            <input type="text" name="title" id="title" required>
        </div>
        <div class="formInputContainer levelContainer">
            <label class="mainLabel" for="" level>Level</label>

            <input type="radio" id="radio_btns" name="level" value="1">
            <label class="smallLabel" for="level">1</label>
            <input type="radio" id="radio_btns" name="level" value="2">
            <label class="smallLabel" for="level">2</label>
            <input type="radio" id="radio_btns" name="level" value="3">
            <label class="smallLabel" for="level">3</label>
        </div>
        <input type="submit" value="Add Course" id="submitBtn">
    </form>
</div>
{% endblock %}