<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/adminMain.css">
    {% block head %}{% endblock %}
</head>

<body>
    {% include '_admin_header.html' %}
    {% include '_flash_messages.html' %}
    {% block content %}{% endblock %}
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script src="../static/js/mobileMenu.js"></script>

</html>