{% extends "adminLayout.html" %}

{% block title %}Clashes{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/admin.css">
{% endblock %}

{% block content %}
<table class="clashTable">
    <thead id="courseTableHead">
        <tr>
            <th>Exam ID</th>
            <th>Course</th>
            <th>Start Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{exam.id}}</td>
            <td>{{exam.course_code}}</td>
            <td>{{exam.start_date}}</td>
            <td>
                <form action="/acceptOverride/{{ exam.id }}" method="POST" style="display: inline-block;">
                    <button type="submit" class="tableBtn">Accept</button>
                </form>
                <form action="/rejectOverride/{{ exam.id }}" method="POST" style="display: inline-block;">
                    <button type="submit" class="tableBtn">Reject</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}