{% extends "adminLayout.html" %}

{% block title %}Courses{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/admin.css">
{% endblock %}

{% block content %}
<div id="coursesList">
	<h2>List of Courses</h2>
	<div class="course-panel">
		<div id="table-container">
			<table id="courseTable">
				<thead id="courseTableHead">
					<th>Course Code</th>
					<th>Course Title</th>
					<th>Level</th>
				</thead>
				<tbody id="courseTableBody">
					{% for course in courses %}
					<tr class="course-row" data="{{ course.course_code }}">
						<td class="course-code-row">{{course.course_code}}</td>
						<td>{{course.course_title}}</td>
						<td class="level-row">{{course.level}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="buttons-container">
			<a href="/newCourse" class="formBtn">Add Course</a>
			<a href="#" class="modify-course-link formBtn" id="updateButton" disabled>Update Course</a>
			<form id="deleteForm" method="POST">
				<button type="submit" class="delete-course-link formBtn" id="deleteButton" disabled>Delete
					Course</button>
			</form>
		</div>
	</div>
</div>

<script>
	const courseRows = document.querySelectorAll('.course-row');
	const modifyCourseLink = document.querySelector('.modify-course-link');
	const deleteCourseForm = document.getElementById('deleteForm');
	const updateButton = document.getElementById('updateButton');
	const deleteButton = document.getElementById('deleteButton');
	updateButton.classList.add('disabled');
	deleteButton.classList.add('disabled');
	courseRows.forEach(row => {
		row.addEventListener('click', function handleClick() {
			courseRows.forEach(row => row.classList.remove('selected'));
			this.classList.add('selected');
			const courseCode = this.querySelector('td').textContent;
			modifyCourseLink.href = `/modifyCourse/${courseCode}`;
			deleteCourseForm.action = `/deleteCourse/${courseCode}`;
			updateButton.classList.remove('disabled');
			updateButton.removeAttribute('disabled');
			deleteButton.classList.remove('disabled');
			deleteButton.removeAttribute('disabled');
		});
	});
</script>
{% endblock %}