{% extends "adminLayout.html" %}

{% block title %}Courses{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/admin1.css">
{% endblock %}

{% block content %}
<div id="coursesList">
	<h2>List of Courses</h2>
	<div id="table_container">
		<table id="courseTable">
			<tbody id="courseTableBody">
				{% for course in courses %}
				<tr class="course-row" data="{{ course.course_code }}">
					<td>{{course.course_code}}</td>
					<td>{{course.course_title}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="buttons_container">
		<a href="/newCourse" class="formBtn">Add Course</a>
		<a href="/updateCourse" class="modify-course-link formBtn">Update Course</a>
		<form action="/deleteCourse/{{ courseCode }}" method="POST">
			<button type="submit" class="delete-course-link formBtn">Delete Course</button>
		</form>
	</div>
</div>

<script>
	const courseRows = document.querySelectorAll('.course-row');
	courseRows.forEach(row => {
		row.addEventListener('click', function handleClick() {
			courseRows.forEach(row => row.classList.remove('selected'));
			this.classList.add('selected');
			const courseCode = this.querySelector('td').textContent
			console.log('Clicked course code:', courseCode);
			const modifyCourseLink = document.querySelector('.modify-course-link');
			modifyCourseLink.href = `/modifyCourse/${courseCode}`;
			const deleteCourseForm = document.querySelector('form');
			deleteCourseForm.action = `/deleteCourse/${courseCode}`;
		});
	});
</script>
{% endblock %}