{% extends "adminLayout.html" %}

{% block title %}Update Course{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/admin.css">
<link rel="stylesheet" href="../static/css/addCourse.css">
{% endblock %}

{% block content %}
<form id="courseForm" action="/updateCourse" method="POST">
    <h2>Update Course</h2>
    <div class="formInputContainer normalLabel">
        <label for="code" class="input-label">Course Code</label>
        <input type="text" id="code" name="code" value="{{ course.course_code }}" style="white-space: pre;" readonly>
    </div>
    <div class="formInputContainer normalLabel">
        <label for="title" class="input-label">Title</label>
        <input type="text" id="title" name="title" value="{{ course.course_title }}" style="white-space: pre;" required>
    </div>
    <div class="formInputContainer levelContainer">
        <label class="mainLabel" for="" level>Level</label>
        <input type="radio" id="radio_btns" name="level" value="1" checked>
        <label class="smallLabel" for="level">1</label>
        <input type="radio" id="radio_btns" name="level" value="2">
        <label class="smallLabel" for="level">2</label>
        <input type="radio" id="radio_btns" name="level" value="3">
        <label class="smallLabel" for="level">3</label>
    </div>
    <button id="save-btn" class="formBtn" type="submit">Save</button>
</form>

{% endblock %}